# item/axe/stripping
public-f net.minecraft.world.item.AxeItem f_150683_ # STRIPPABLES
public-f net.minecraft.world.level.block.entity.BlockEntityType f_58915_ # validBlocks
public net.minecraft.data.recipes.RecipeProvider m_176580_(Ljava/util/function/Consumer;Lnet/minecraft/data/BlockFamily;)V # generateRecipes
